<nav id="tf-menu" style="background-color: black; padding: 0px;" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Medicyne</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="!navbarCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="home" style="cursor: pointer;" class="page-scroll">Home</a></li>
                <li><a ui-sref="faq" style="cursor: pointer;" class="page-scroll">FAQ</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="space"></div>

<div class="container" ng-controller='DeliveryController'>
	<div class="container text-center">
		<div class="top-buffer row">
			<div class="text-center">
			<!-- <h4><strong>Prescription Order (Step 1 of 3)</strong></h4> -->
				 <i style="margin-right: 20px; opacity: 0.5" class="fa fa-file-text fa-2x"></i>
				 <i style="margin-right: 20px; vertical-align: top; padding-top: 8px; opacity:0.5" class="fa fa-caret-right fa-1x"></i>
				 <i style=" margin-right: 20px; opacity: 0.5" class="fa fa-credit-card fa-2x"></i>
				 <i style=" margin-right: 20px; vertical-align: top; padding-top: 8px; opacity: 0.5" class="fa fa-caret-right fa-1x"></i>
				 <i class="color fa fa-car fa-2x"></i>
			</div>
		</div>
	    <div class="section-title center">
	        <h2><strong>Delivery Schedule</strong></h2>
	        <div class="clearfix"></div>
	            <div class="col-md-offset-1 col-md-10">
	                <p class="intro"><em>We will try to process your prescription as fast as possible. Selecting a delivery time will help catch you wherever you are at.</em></p>
	            </div>
	    </div>
	</div>
	<form name="deliveryForm" novalidate>   
		<div class="row top-buffer">
			<div class="col-md-offset-2 col-md-8" ng-click="reset()">
				<p class="pull-right btn" style="color:green"><em>Clear Form</em></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2">
	    		<span ng-bind="error" style="color: red; padding-left: 15px"></span>	
	    	</div>
	    </div>
		<div class="row">
			<div class="col-md-offset-2 col-md-4">
	    		<label><strong>Street Address</strong></label>
	    		<input type="text" name="streetAddress" class="form-control" ng-model="deliverySchedule.street" required>
	    		<div ng-messages="deliveryForm.streetAddress.$error" ng-if="deliveryForm.streetAddress.$touched">
    				<div ng-messages-include="../static/partials/messages.html"></div>
				</div>
	  		</div>
	  		<div class="col-md-2">
	  			<label><strong>City</strong></label>
	  			<select class="form-control" ng-model="deliverySchedule.city">
	  				<option>San Francisco, CA</option>
	  			</select>
	    	</div>
	    	<div class="col-md-2">
	  			<label><strong>Zip Code</strong></label>
	  			<input type="text" name="zipcode" class="form-control" ng-model="deliverySchedule.zipcode" required ng-pattern="/^(\d{5}-\d{4}|\d{5})$/">
	  			<div ng-messages="deliveryForm.zipcode.$error" ng-if="deliveryForm.zipcode.$touched">
    				<div ng-message="required"><p style="color: red">This field is required</p></div>
	    			<div ng-message="pattern"><p style="color: red">Zip code is invalid</p></div>
				</div>
	    	</div>
	    </div>
	    <div class="top-buffer row">
	    	<div class="col-md-offset-2 col-md-4">
	    		<label><strong>Preferred Delivery Times</strong></label>
	    	</div>
	    </div>
	    <div class=" row">
	    	<div class="col-md-offset-2 col-md-8">
	    		<p><em>Select a time below if you would like same day delivery ($10 charge within San Francisco). Otherwise, leave blank and your prescription will be delivered within 3-5 business days free of charge.</em></p>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-offset-2 col-md-2 col-sm-10 col-xs-10">
	    		<label class="radio-inline">
	    			<input type="radio" name="deliveryTime" id="morning" ng-model="deliverySchedule.time" value="0800-1000">08:00AM - 10:00AM
	    		</label>
	    	</div>
	    	<div class="col-md-2 col-sm-10 col-xs-10">
	    		<label class="radio-inline">
	    			<input type="radio" name="deliveryTime" id="afternoon" ng-model="deliverySchedule.time" value="1200-1400">12:00PM - 02:00PM
	    		</label>
	    	</div>
	    	<div class="col-md-2 col-sm-10 col-xs-10">
	    		<label class="radio-inline">
	    			<input type="radio" name="deliveryTime" id="lateAfternoon" ng-model="deliverySchedule.time" value="1600-1800">04:00PM - 06:00PM
	    		</label>
	    	</div>
	    	<div class="col-md-2 col-sm-10 col-xs-10">
	    		<label class="radio-inline">
	    			<input type="radio" name="deliveryTime" id="evening" ng-model="deliverySchedule.time" value="1900-2100">07:00PM - 09:00PM
	    		</label>
	    	</div>
	    </div>
		<div class="top-buffer col-md-offset-2 col-md-8">
			<input id="submit" class="btn btn-success pull-left" type="submit" value="Back" ng-click="backBtn()">
			<input style="margin-bottom: 100px" id="submit" class="btn btn-success pull-right" type="submit" value="Next" ng-click="newDelivery()">
		</div>
	</form>
</div>

<nav id="footer" class="navbar-fixed-bottom">
    <div class="container">
        <div class="pull-right fnav">
            <p>MEDICYNE CORP © 2015. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</nav>