<nav id="tf-menu" style="background-color: black; padding: 0px;" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Medicyne</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="!navbarCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="home" style="cursor: pointer;" class="page-scroll">Home</a></li>
                <li><a ui-sref="order" style="cursor: pointer;" class="page-scroll">Order</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="about" class="tf-about">
    <div class="container">
        <div class="section-title center text-center">
            <h2>Frequently Asked Questions</h2>
            <div class="line">
                <hr>
            </div>
        </div>
        <div>
            <h3>What is Medicyne Virtual Pharmacy?</h3>
            <p class="intro">Medicyne is a web/mobile portal to all your traditional pharmacy services, from prescription filling to clinical care.</p>
            <h3>Does Medicyne have a physical pharmacy store?</h3>
            <p class="intro">No, hence "virtual" pharmacy.</p>
            <h3>Where is my prescription filled?</h3>
            <p class="intro">Medicyne assigns your order to our local pharmacy partner nearest to you for fastest fulfillment and delivery. In San Francisco, we currently partner with 450 Sutter Pharmacy, trusted by doctors and patients for over 30 years.</p>
            <h3>Does Medicyne work with my pharmacy?</h3>
            <p class="intro">Yes. If your regular pharmacy is not currently in our network, we'll automatically transfer your prescription to a partner pharmacy to service your delivery.</p>
            <h3>What information will I need to order my medications?</h3>
            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <ul>
                    <li><p class="intro"> Prescription(s)</p></li>
                    <li><p class="intro"> Current Pharmacy Name</p></li>
                    <li><p class="intro"> Your Full Name and Date of Birth</p></li>
                    <li><p class="intro"> Your Contact Information</p></li>
                    <li><p class="intro"> Insurance Card Information</p></li>
                    <li><p class="intro"> Your Delivery Address</p></li>
                </ul>
            </div>
            <p class="intro">The pharmacy will call you within 1 hour to confirm the copay, schedule your delivery, and provide counselling as needed.</p>
            <h3>How is my information used?</h3>
            <p class="intro">Your name, date of birth, address, telephone, prescription, and insurance information will only be sent to the licensed pharmacy that fills your prescription.  We will never sell or rent your personal information.</p>
            <h3>How long does delivery take?</h3>
            <p class="intro">Non-rushed deliveries will arrive in 3-5 business days and is free of charge.  Same-day delivery can be requested at the time of order and will cost $10. Same-day requests received outside regular pharmacy hours will be delivered within 24 hours.</p>
            <h3>Who does the delivery?</h3>
            <p class="intro">Delivery is done by the pharmacy that fills your prescription. Pharmacies train their staff to properly handle medications and safeguard your privacy.</p>
            <h3>Do I need to tip the delivery person?</h3>
            <p class="intro">No, the delivery is intended to be at no extra cost, except the $10 same-day rush fee if requested.</p>
            <h3>Can I request a certain delivery time?</h3>
            <p class="intro">Yes. When you place an order on medicyne.com, you can select a preferred window of time for delivery. The pharmacy will call you to confirm the delivery schedule, along with the copay amount.</p>
            <h3>Are Medicyne's services available in my city?</h3>
            <p class="intro">Our delivery services are currently only available in the San Francisco Bay Area. Our Medicyne Premium clinical services are currently available to all California residents. We will be rolling out to more cities soon.</p>
            <p class="intro"><a style="cursor: pointer" ui-sref="signup"> Sign up</a> to be notified when we come to your area!</p>
            <h3>Does Medicyne work with all prescription types?</h3>
            <p class="intro">Medicyne only supports electronic or transferred prescriptions at this time. While we are working with our pharmacy partners to establish a process for legal validation of paper prescriptions, we do not currently support paper prescriptions.</p>
            <h3>Are Medicyne's services free?</h3>
            <p class="intro">Non-rushed delivery is free and takes 3-5 business days. The pharmacy will only charge you the normal cost of your medications.</p>
            <p class="intro">The pharmacy will charge $10 for same-day delivery within San Francisco Bay Area.</p>
            <p class="intro">Medicyne Premium, our subscription clinical service, is offered at $19.99 per month.</p>
            <h3>Have more questions?</h3>
            <p class="intro">Contact us at <a href="mailto:info@medicyne.com">info@medicyne.com</a>.</p>
        </div>        
    </div>
</div>

<nav id="footer" >
    <div class="container">
        <div class="pull-right fnav">
            <p>MEDICYNE CORP © 2015. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</nav>