<div class="row text-center top-buffer">
    <div class="col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-8 service">
    	<a href="#/transfer">
		    <i class="fa fa-battery-full fa-5x"></i>
		    <h4><strong>Fill with us</strong></h4>
		</a>
	    <p>Transfer your prescription .</p>
	</div>
	<div class="col-md-offset-0 col-md-4 col-sm-4 col-xs-offset-2 col-xs-8 service">
	    <a href="#/current">
	    	<i class="fa fa-battery-quarter fa-5x"></i>
	    	<h4><strong>Fill with them</strong></h4>
	    </a>
	    <p>Fill with your current pharmacy.</p>
	</div>
</div>