<div class="row text-center top-buffer">
    <div class="col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-8 service">
    	<a href="#/transfer">
		    <i class="fa fa-heartbeat fa-5x"></i>
		    <h4><strong>Fill prescription</strong></h4>
		</a>
	    <p>Transfer your prescriptions to us for better clinical care or fill at your current pharmacy. It's your choice.</p>
	</div>
	<div class="col-md-offset-0 col-md-4 col-sm-4 col-xs-offset-2 col-xs-8 service">
	    <a href="#/current">
	    	<i class="fa fa-medkit fa-5x"></i>
	    	<h4><strong>Over-The-Counter</strong></h4>
	    </a>
	    <p>Not all over-the-counter medications are safe for your symptoms. Get a free consultation with our clinical pharmacists for the best recommendations.</p>
	</div>
</div>