<div class="container well">   
	<div class="row">
		<div class="col-md-offset-8 col-md-2">
			<a href="#/" class="pull-right"><i class="fa fa-times-circle fa-2x"></i></a>
		</div>
		<div class="col-md-2"></div>
	</div> 
	<div class="row">
		<div class="col-md-offset-2 col-md-6">
			<h4><strong>Success</strong></h4>
		</div>
    	
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
    		<p>We have received your fill request. A pharmacist will be intouch with you shortly via text message to review the appropriateness of your therapy before dispensing your medication. We will notify you when your prescription is out for delivery. If you have any questions, feel free to contact us at service@medicyne.com.</p>
  		</div>
    </div>
</div>