<!-- <div ng-controller="QuitController">
            <div class="modal fade" id="closeOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 service">
                                <p>All information will be lost. Are you sure you want to quit?</p>
                            </div>
                        </div>
                        <div class="row text-center">
                        	<div class="col-md-12">
                        		<button class="btn btn-success" ng-click="open($event)">Yes</button>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div> -->