
<div class="container" ng-controller='TransferRxController'>	
	<!-- <div class="overlay"> -->
		<div class="container text-center">
		    <div class="space"></div>
			<div class="row">
				<div class="col-md-offset-8 col-md-2">
					<a href="#/" class="pull-right"><i class="fa fa-times-circle fa-2x"></i></a>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="top-buffer row">
			<div class="text-center">
				<!-- <h4><strong>Prescription Order (Step 1 of 3)</strong></h4> -->
				 <i style="margin-right: 20px" class="color fa fa-file-text fa-2x"></i>
				 <i style="margin-right: 20px; vertical-align: top; padding-top: 8px" class="fa fa-caret-right fa-1x"></i>
				 <i style=" margin-right: 20px; opacity:0.5" class="fa fa-car fa-2x"></i>
				 <i style=" margin-right: 20px; vertical-align: top; padding-top: 8px; opacity:0.5" class="fa fa-caret-right fa-1x"></i>
				 <i style="opacity:0.5" class="fa fa-money fa-2x"></i>
			</div>
			</div>
		    <div class="section-title center">
		        <h2><strong>Some Information</strong></h2>
		        <div class="clearfix"></div>
		        <div class="col-md-offset-1 col-md-10">
		            <p class="intro"><em>Tell us a little about your needs so we can better server you.</em></p>
		        </div>
		    </div>
		</div>

		<form name="transferRxForm" novalidate>   
			<div class="row">
				<div class="col-md-offset-2 col-md-8" ng-click="reset()"><p class="pull-right btn" style="color:green"><em>Clear Form</em></p></div>
			</div>
			<div class="top-buffer row">
				<div class="col-md-offset-2 col-md-4">
					<label><strong>Where would you like to fill your prescription?</strong> </label>	
				</div>
				<div class="col-md-2">
		    		<select class="form-control" name="pharmChoice" ng-model="newTransferRx.pharmChoice"required>
						<option value="medicyne">Medicyne</option>
						<option value="other">My current pharmacy</option>
					</select>
					<div ng-messages="transferRxForm.pharmChoice.$error" ng-if="transferRxForm.pharmChoice.$touched">
		    			<div ng-messages-include="../static/partials/messages.html"></div>
		    		</div>
		  		</div>
			</div>
			<div class="top-buffer row">
				<div class="col-md-offset-2 col-md-4">
		    		<label><strong>First Name</strong></label>
		    		<input type="text" name="firstName" class="form-control" ng-model="newTransferRx.firstName" required ng-pattern="/^(\D)+$/">
		    		<!-- validation error mesages -->
		    		<div ng-messages="transferRxForm.firstName.$error" ng-if="transferRxForm.firstName.$touched">
	    				<div ng-messages-include="../static/partials/messages.html"></div>
					</div>
		  		</div>
		  		<div class="col-md-4">
		  			<label><strong>Last Name</strong></label>
		    		<input type="text" name="lastName" class="form-control" ng-model="newTransferRx.lastName" required ng-pattern="/^(\D)+$/">
		    		<div ng-messages="transferRxForm.lastName.$error" ng-if="transferRxForm.lastName.$touched">
		    			<div ng-messages-include="../static/partials/messages.html"></div>
		    		</div>
		    	</div>
			</div>
			<div class="top-buffer row">
		    	<div class="col-md-offset-2 col-md-4">
	      			<label><strong>Date of Birth</strong></label>
	      			<input type="text" name="dob" class="form-control" placeholder="MM/DD/YYYY" ng-model="newTransferRx.dob" required ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/">
	      			<div ng-messages="transferRxForm.dob.$error" ng-if="transferRxForm.dob.$touched">
		    			<div ng-message="required"><p style="color: red">This field is required</p></div>
		    			<div ng-message="pattern"><p style="color: red">Must be in MM/DD/YYYY format</p></div>
		    		</div>
	    		</div>
	    		<div class="col-md-4">
		  			<label><strong>Mobile # (Text message required)</strong></label>
		    		<input type="text" name="phoneNumber" class="form-control" placeholder="415-555-5555" ng-model="newTransferRx.phoneNumber" required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
		    		<div ng-messages="transferRxForm.phoneNumber.$error" ng-if="transferRxForm.phoneNumber.$touched">
		    			<div ng-message="required"><p style="color: red">This field is required</p></div>
		    			<div ng-message="pattern"><p style="color: red">Must be a valid 10 digit phone number</p></div>
		    		</div>
		    	</div>
			</div>
			<div class="top-buffer row">
		    	<div class="col-md-offset-2 col-md-4">
	      			<label><strong>Pharmacy Name</strong></label>
	      			<input type="text" name="pharmacyName" class="form-control" placeholder="Your current pharmacy." ng-model="newTransferRx.pharmacyName" required ng-pattern="/^(\D)+$/">
	    			<div ng-messages="transferRxForm.pharmacyName.$error" ng-if="transferRxForm.pharmacyName.$touched">
		    			<div ng-messages-include="../static/partials/messages.html"></div>
		    		</div>
	    		</div>
	    		<div class="col-md-4">
		  			<label><strong>Pharmacy Phone #</strong></label>
		    		<input type="text" name="pharmacyPhone" class="form-control" placeholder="415-555-5555" ng-model="newTransferRx.pharmacyPhone"required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
		    		<div ng-messages="transferRxForm.pharmacyPhone.$error" ng-if="transferRxForm.pharmacyPhone.$touched">
		    			<div ng-message="required"><p style="color: red">This field is required</p></div>
		    			<div ng-message="pattern"><p style="color: red">Must be a valid 10 digit phone number</p></div>
		    		</div>
		    	</div>
			</div>
			<div class="top-buffer row">
		    	<div class="col-md-offset-2 col-md-8">
		    		<label><strong>Medication Name or Prescription Number</strong></label>
		    		<textarea name="prescriptionsInfo" class="form-control" rows="3" placeholder="e.g. Lisinopril 10mg, Tylenol 500mg OR rx#183758 --- Enter 'CALL' if you prefer to provide us this information over the phone and a pharmacist will contact you directly." ng-model="newTransferRx.prescriptionsInfo" required></textarea>
		    		<div ng-messages="transferRxForm.prescriptionsInfo.$error" ng-if="transferRxForm.prescriptionsInfo.$touched">
		    			<div ng-messages-include="../static/partials/messages.html"></div>
		    		</div>
		    	</div>
			</div>
			<div class="top-buffer col-md-offset-2 col-md-8">
				<input id="submit" class="btn btn-success pull-right" type="submit" value="Next" ng-click="transferRx()">
			</div>
		</form>
		<div class="space"></div>	
	<!-- </div> -->
</div>
